
			<div class="input-group input-group-lg">
				<div class="col-sm-6">
  				<span class="input-group-addon" id="sizing-addon1">Email</span>
  					<input type="text" class="form-control" placeholder="blank@blank.com" aria-describedby="sizing-addon1">
  				</div>	
			</div>

			<div class="input-group">
				<div class="col-sm-6">
  				<span class="input-group-addon" id="sizing-addon1">Username</span>
  					<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
  				</div>
			</div>

			<div class="input-group input-group-sm">
				<div class="col-sm-6">
 				<span class="input-group-addon" id="sizing-addon1">Password</span>
  					<input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon3">
  				</div>	
			</div>
			<div class="input-group input-group-sm">
				<div class="col-sm-6">
 				<span class="input-group-addon" id="sizing-addon1">Confirm Password</span>
  					<input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon4">
  				</div>
  			</div>		
		</div>