<header class= "navbar navbar-static-top navbar default">
  <div class= "container">
    <div class= "nav-items">
      <%= link_to "login", "", class: "btn btn-default, btn-warning" %>
      <%= link_to "home", "", class: "btn btn-default, btn-warning" %>
    </div>
  </div>
</header>
